	#infoContent h3, #newsContent h3 {
		background: url('../images/title_bg.png');
		height:52px;
		font-weight: bold;
		color: #555;
		font-size: 25px;
		padding-top: 10px;
	}
	
	#infoContent h3 span, #newsContent h3 span {
		background: url('../images/bullet2.png') no-repeat 10px !important;
		padding-left: 30px;
	}
	
	#newsListContent, #siteContent {
		background: url('../images/bullet.png') no-repeat 0 !important;
		background-color: transparent;
	}
	
	#newsListContent span, #siteContent span {
		padding-left: 20px;
	}
	
	#siteContent a {
		text-decoration:none;
		color: #000;
	}
	
	.mainPanel {
		background: url('../images/main.png') no-repeat;
		background-size: 60% 100%;
	}
	
	.main_button1 {
		background: url('../images/main_button1.png') no-repeat;
		background-size: 100% 100%;
		background-color: transparent;
		-webkit-mask-box-image: url('../images/main_button1.png');
		position: absolute;
		top: 0;
		left: 60%;
		border: 0px;
		width: 40%;
		height: 25%;
	}
	
	.main_button2 {
		background: url('../images/main_button2.png') no-repeat;
		background-size: 100% 100%;
		background-color: transparent;
		-webkit-mask-box-image: url('../images/main_button2.png');
		position: absolute;
		top: 25%;
		left: 60%;
		border: 0px;
		width: 40%;
		height: 25%;
	}
	
	.main_button3 {
		background: url('../images/main_button3.png') no-repeat;
		background-size: 100% 100%;
		background-color: transparent;
		-webkit-mask-box-image: url('../images/main_button3.png');
		position: absolute;
		top: 50%;
		left: 60%;
		border: 0px;
		width: 40%;
		height: 25%;
	}
	
	.main_button4 {
		background: url('../images/main_button4.png') no-repeat;
		background-size: 100% 100%;
		background-color: transparent;
		-webkit-mask-box-image: url('../images/main_button4.png');
		position: absolute;
		top: 75%;
		left: 60%;
		border: 0px;
		width: 40%;
		height: 25%;
	}
	
	#ext-element-29 {
		background-image: -webkit-linear-gradient(top, red, red 3%, red);
		background-image: linear-gradient(top, red, red 3%, red);
	}
	}